{
  "presets": [
    [ "env", {
      "targets": {
        "node": 8
      },
      "modules": false,
      "useBuiltIns": true
    } ]
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-class-properties",
    "transform-flow-strip-types"
  ],
  "comments": false
}
